@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&family=Roboto:ital,wght@0,300;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background: #f1f5f8;
    color: #222;
}

.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .bookList {
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
    text-align: center;
}

.book img {
    width: 100%;
    object-fit: cover;
}

.book h2 {
    margin-top: 1rem;
    font-size: 1rem;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #c35600;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.title {
    text-align: center;
    text-transform: capitalize;
    margin-top: 4rem;
}
